name: Renovate
on:
  schedule:
    - cron: "0/15 * * * *"

  workflow_dispatch: # allows you to run manually whenever you want
  push:
    branches:
      - main # rebasing and management of PRs whenever main updates

permissions:
  actions: read
  contents: write
  id-token: write
  pull-requests: write
  security-events: write

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: ./.github/actions/renovate
        with:
          repositories: "leefreemanxyz/florida,leefreemanxyz/personal-site,leefreemanxyz/tooling,leefreemanxyz/openapi-cli,leefreemanxyz/fitness"
          gh-token: ${{ secrets.GH_TOKEN }}
